DB_URL=jdbc:mysql://localhost:3307/battle?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=

MEMBER_POINT_SERVICE_URL=http://localhost:8080
INSIGHT_SERVICE_URL=http://localhost:8083

INTERNAL_AUTH_TOKEN=
