SERVER_PORT=8081
SPRING_PROFILES_ACTIVE=prod

DB_HOST=your-rds-endpoint.ap-northeast-2.rds.amazonaws.com
DB_PORT=3306
DB_NAME=battle
DB_USERNAME=your-rds-username
DB_PASSWORD=your-rds-password

MEMBER_POINT_SERVICE_URL=http://host.docker.internal:8080
INSIGHT_SERVICE_URL=http://host.docker.internal:8083

INTERNAL_AUTH_TOKEN=your-internal-auth-token
