# === Database ===
DB_HOST=
DB_PORT=
DB_MEMBERPOINT=
DB_BATTLE=
DB_MARKET=
DB_INSIGHT=
DB_USERNAME=
DB_PASSWORD=

# === JWT ===
JWT_SECRET=

# === Crypto ===
CRYPTO_AES_KEY=

# === Kakao OAuth ===
KAKAO_CLIENT_ID=
